<head>
	<title>
		<%= SITE_SETTINGS['Name'] %>
		<%= content_for?(:title) ? " - #{yield(:title)}" : nil %>
	</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta name="description" content="<%= @meta_description || SITE_SETTINGS['Default Meta Description'] %>" />
	<meta name="keywords" content="<%= @meta_tags || SITE_SETTINGS['Default Meta Tags'] %>" />
	<%= stylesheet_link_tag "application", :media => "all" %>
	<% if yield :styles %>
		<%= yield :styles %>
	<% end %>
	<%= javascript_include_tag "application" %>
	<% if yield :scripts %>
		<%= yield :scripts %>
	<% end %>
	<%= csrf_meta_tags %>
</head>